:root {
    --bg-color: #333;
    --text-color: #f8f8f8;
    --square-bg-color: #555;
    --square-border-color: #888;
    --button-bg-color: #444;
    --button-hover-color: #666;
}

.light-mode {
    --bg-color: #f8f8f8;
    --text-color: #333;
    --square-bg-color: #fff;
    --square-border-color: #ddd;
    --button-bg-color: #eee;
    --button-hover-color: #ccc;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

.game-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

.game-icon:hover {
    transform: scale(1.1);
}


main {
    text-align: center;
    max-width: 600px;
    margin-top: 200px;
    padding-bottom: 100px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.word-icon-light {
    display: none;
}
.word-icon-dark {
    display: inline;
}

.light-mode .word-icon-light {
    display: inline;
}
.light-mode .word-icon-dark {
    display: none;
}




#github-issue-link {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: #727272;
    padding: 5px 10px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    transition: opacity 0.3s ease;
    opacity: 0.7;
}

#github-issue-link a {
    color: #cecece;
    text-decoration: none;
    font-weight: bold;
}

#github-issue-link:hover {
    opacity: 1;
}
